<header class="py-8 px-6">
  <div class="max-w-2xl mx-auto">
    <div class="flex items-center gap-3">
      <img src="/logo.svg" alt="" srcset="" />
      <span class="text-sm tracking-wider uppercase text-zinc-600"
        >Rachadura</span
      >
    </div>
  </div>
</header>
